In [1]:
### Step 1. Import the necessary libraries
import pandas as pd

In [23]:
###(https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). 
### Step 2. Import the dataset above
data = pd.read_csv('chipotle.csv')

In [3]:
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
data.shape

(4622, 5)

In [8]:
data.shape[0]  # 0 for row and 1 for columns

4622

In [9]:
data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [10]:
data.index

RangeIndex(start=0, stop=4622, step=1)

In [11]:
#Most ordered items
data['item_name'].value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Carnitas Salad Bowl                        6
Burrito                                    6
Veggie Salad                               6
Steak Salad                                4
Salad                                      2
Bowl                                       2
Crispy Tacos                               2
Veggie Crispy Tacos                        1
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Name: item_name, dtype: int64

In [12]:
#For the most ordered item, how many items were ordered?
data['quantity'][data['item_name'] == 'Chicken Bowl'].sum()

761

In [14]:
#Most ordered item in choice_description columns
data['choice_description'].value_counts().head(1)

[Diet Coke]    134
Name: choice_description, dtype: int64

In [15]:
#How many items were ordered in total?
data['quantity'].sum()

4972

In [24]:
def price_converter(x):
    x = x.strip('$')
    x = float(x)
    return x

In [25]:
data['item_price'] = data['item_price'].apply(price_converter)

In [26]:
data['item_price'].head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

In [32]:
#Revenue
revenue = data['item_price'].sum()

In [33]:
#How many orders were made in period?
orders = data['order_id'].count()

In [34]:
#Average amount per order
revenue/orders

7.464335785374297

In [35]:
#How many different item are sold
data['item_name'].unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [36]:
len(data['item_name'].unique())

50

In [37]:
data['item_name'].nunique()

50

In [38]:
#count and value_count only works on series
import numpy as np

In [39]:
lst = [1,2,3,4,5,6,7]
np_arr = np.array(lst)
np_arr

array([1, 2, 3, 4, 5, 6, 7])

In [ ]:
# List -> Dictionary -> NumpyArray -> Series -> DataFrame